
@{
    ViewBag.Title = "Index";
}
<div class="well">
    <form class="form-inline">
        Name: <input type="text" name="name" data-bind="value: selected.name" />
        Pages: <input type="number" name="fromPages" data-bind="value: selected.fromPages" /> - <input type="number" name="toPages" data-bind="value: selected.toPages" />
        Genre: <select data-bind="options: genres, value: selected.genre, optionsCaption: ''">
        </select>
        <button data-bind="click: search">Search</button>
    </form>
</div>
<div data-bind="visible: books().length == 0" class="text-center">
    <h2>No results</h2>
</div>
<div class="row" data-bind="foreach: books">
    <div class="col-md-3">
        <div class="well text-center">
            <h4 data-bind="text: Name"></h4>
            <img width="100" height="100" data-bind="attr: { src: ImageUrl }" />
            <p>
                Created: <span data-bind="text: CreationYear"></span><br />
                Pages: <span data-bind="text: PageCount"></span><br />
                Genre: <span data-bind="text: Genre"></span>
            </p>
        </div>
    </div>
</div>
<ul class="pager">
    <li><a href="javascript:;" data-bind="click: goToPreviousPage">Previous</a></li>
    <li><a href="javascript:;" data-bind="click: goToNextPage">Next</a></li>
</ul>

@section Scripts{
    @Scripts.Render("~/bundles/books")
}
